name: Layered Architecture

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: |         
          7.x
          8.x
        include-prerelease: true
    - name: Install dependencies
      run: dotnet restore "./1. LayeredArchitecture/1. CleanTemplate/.NET.LayerdArchitecture.sln"
    - name: Build
      run: dotnet build "../1. LayeredArchitecture/1. CleanTemplate/.NET.LayerdArchitecture.sln" --configuration Release --no-restore
