name: Vertical Slice Architecture

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: |
          8.x
          9.x
        include-prerelease: true
    - name: Install dependencies
      run: dotnet restore "./3.VerticalSliceArchitecture/1. Traditional/.NET.VerticalSliceArchitecture.sln"
    - name: Build
      run: dotnet build "./3.VerticalSliceArchitecture/1. Traditional/.NET.VerticalSliceArchitecture.sln" --configuration Release --no-restore
